body {
    margin: 0;
    padding: 0;
    background-image: url(./img/fundo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border: 1px solid black;
    padding: 10px;
}

table, th {
    padding: 10px;
}

.machine {
    width: 440px;
    height: 710px;
    margin-top: 40px;
    border-radius: 6px;
    background-color: #EE4343;
    border: 8px solid #2E2842;
    display: flex;
    /* display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif; */
}

.feet {
    width: 650px;
    display: flex;
    justify-content: space-around;
}

.foot {
    width: 58px;
    height: 15px;
    background-color: #2E2842;
}

.left {
    width: 52%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-radius: 4.5px;
    flex-direction: column;
    justify-content: space-evenly;
}

.candies-view {
    background-color: #F9F9F9;
    height: 470px;
    width: 200px;
    border-radius: 4.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.candies-view img {
    width: 140px;
}

/* .candy-a {
    background-color: #12CEFA;
}

.candy-b {
    background-color: #FFA500;
}

.candy-c {
    background-color: #DDA0DD;
} */

.candies-out {
    background-color: #2E2842;
    border-radius: 4.5px;
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.candies-out img {
    width: 90px;
    display: none;
}

/* .candy-final {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.right {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.painel {
    background-color: #2E2842;
    height: 470px;
    width: 180px;
    border-radius: 4.5px 0px 0px 4.5px;
}

.logo {
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 180px;
    height: 135px;
}

/* .value {
    padding: 15px;
    margin: 0;
    background-color:#F9F9F9;
    text-align: left;
    border-radius: 6px;
    line-height: 22px;
    font-size: 16px;
}

.cash {
    padding: 20px;
    background-color:#228B22;
    color: #F9F9F9;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.cash:active {
    background-color:#a6bda6;
}

.options {
    display: flex;
    justify-content: space-between;
}

.options button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 35px;
}

.name {
    height: 160px;
    color: #F9F9F9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    text-align: center;
}

.button-a:active {
    background-color: #A9D7FD;
}

.button-b:active {
    background-color: #FABF53;
}

.button-c:active {
    background-color:#E8BFD8;
}

.refresh-view {
    width: 175px;
    height: 250px;
    display: none;
    justify-content: center;
}

.refresh {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: none;
    background-color: #978efe;
    cursor: pointer;
} */