body {
    margin: 0;
    padding: 0;
    background-image: url(./img/fundo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border: 1px solid black;
    padding: 10px;
}

table, th {
    padding: 10px;
}

.machine {
    width: 440px;
    height: 710px;
    margin-top: 40px;
    border-radius: 6px;
    background-color: #EE4343;
    border: 8px solid #2E2842;
    display: flex;
    font-family: Noto Sans, sans-serif;
}

.feet {
    width: 650px;
    display: flex;
    justify-content: space-around;
}

.foot {
    width: 58px;
    height: 15px;
    background-color: #2E2842;
}

.left {
    width: 52%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-radius: 4.5px;
    flex-direction: column;
    justify-content: space-evenly;
}

.candies-view {
    background-color: #F9F9F9;
    height: 470px;
    width: 200px;
    border-radius: 4.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.candies-view img {
    width: 140px;
}

.candies-out {
    background-color: #2E2842;
    border-radius: 4.5px;
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.candies-out img {
    display: none;
    width: 90px;
}

.candies-out button{
    background-color: #2E2842;
    border: none;
}

.right {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.painel {
    padding-left: 8px;
    background-color: #2E2842;
    height: 470px;
    width: 180px;
    border-radius: 4.5px 0px 0px 4.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 180px;
    height: 135px;
}

.screen {
    background-color: #EFEFEF;
    width: 150px;
    height: 110px;
    border-radius: 4.5px;
    border: 8px solid #827F9D;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
}

.screen p {
    margin-left: 10px;
    text-align: justify;
}

.cash-back {
    width: 166px;
    height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
}

#without-money {
    width: 82px;
    height: 42px;
}


#with-money {
    display: none;
    width: 82px;
    height: 42px;
}

.cash-back p {
    color: #383152;
    font-weight: bold;
    margin: 0;
}

.value {
    margin: 0;
}

.options {
    background-color: #C6BFDD;
    width: 166px;
    height: 250px;
    border-radius: 4.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button-candy {
    width: 125px;
    height: 35px;
    padding: 0 10px;
    background-color: #2E2842;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-candy div {
    width: 15px;
    height: 15px;
    background-color: #0D5F00;
    border-radius: 20px;
}

.candy-option {
    border: none;
    color: #F9F9F9;
    background-color: #2E2842;
    padding: 0;
}

.money {
    border: none;
    cursor: pointer;
    margin: 0;
    height: 25px;
    width: 85px;
    background-color: #47A83E;
    color: #F9F9F9;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}